<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>常量列表</h2>
	</div>
	<!-- 数据列表 -->
	<div class="data-table table-striped">
		<table class="">
			<thead>
			<tr>
				<th class="">key</th>
				<th class="">value</th>
			</tr>
			</thead>
			<tbody>
			<notempty name="_list">
				<volist name="_list" id="vo">
					<tr>
						<td>{$vo.c_key} </td>
						<td>{$vo.c_value}</td>
					</tr>
				</volist>
				<else/>
				<td colspan="2" class="text-center">暂时还没有内容! </td>
			</notempty>
			</tbody>
		</table>
	</div>
	<div class="page">
		{$_page}
	</div>
</block>