<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>化合反应列表</h2>
	</div>
	<div class="cf">
        <!-- 高级搜索 -->
		<div class="search-form fl">
			<div class="sleft">
				<input type="text" name="c_name" class="search-input" value="{:I('c_name')}" placeholder="请输入Reactant1">
				<a class="sch-btn" href="javascript:;" id="search" url="{:U('ReactionList')}"><i class="btn-search"></i></a>
			</div>
		</div>
    </div>
	<!-- 数据列表 -->
	<div class="data-table table-striped">
		<table class="">
			<thead>
			<tr>
				<th class="">Reactant1</th>
				<th class="">Reactant2</th>
				<th class="">Reactant3</th>
				<th class="">Product2</th>
				<th class="">Product2</th>
				<th class="">Product3</th>
				<th class="">kT</th>
				<th class="">Doc</th>
				<th class="">添加时间</th>
				<th class="">操作</th>
			</tr>
			</thead>
			<tbody>
			<notempty name="_list">
				<volist name="_list" id="vo">
					<tr>
						<td>{$vo.r_reactant1} </td>
						<td>{$vo.r_reactant2}</td>
						<td>{$vo.r_reactant3}</td>
						<td>{$vo.r_product1}</td>
						<td>{$vo.r_product2}</td>
						<td>{$vo.r_product3}</td>
						<td>{$vo.r_kt}</td>
						<td><a href="{$vo.r_document_url}" target="_blank">{$vo.r_document}</a></td>
						<td>{$vo.r_add_time}</td>
						<td>
							<a href="{:U('Down/react_pdf')}?id={$vo.id}">编辑DOC文件</a>
							<a href="{:U('Down/pdf2')}?id={$vo.id}">aaa</a>
						</td>
					</tr>
				</volist>
				<else/>
				<td colspan="8" class="text-center">暂时还没有内容! </td>
			</notempty>
			</tbody>
		</table>
	</div>
	<div class="page">
		{$_page}
	</div>
</block>

<block name="script">
	<script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>
	<script type="text/javascript">
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');
        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});
	//回车搜索
	$(".search-input").keyup(function(e){
		if(e.keyCode === 13){
			$("#search").click();
			return false;
		}
	});
	</script>
</block>