<include file="header" />
    <div id="body">
	
	<h3>Citation</h3>
	
	<p>A citation to the MCM website and the relevant mechanism construction protocols should be given in any publication using information obtained from this source, using the following or comparable wording:</p>
	<p><i>
The chemical mechanistic information was taken from the Master Chemical Mechanism, MCM v3.2 (reference), via  website: http://mcm.leeds.ac.uk/MCM.</i></p>

<p>The reference should be: (Jenkin et al., Atmos. Environ., 31, 81, 1997; Saunders et al., Atmos. Chem. Phys., 3, 161, 2003), for non aromatic schemes;  (Jenkin et al., Atmos. Chem. Phys., 3, 181, 2003; Bloss et al., Atmos. Chem. Phys., 5, 641, 2005), for aromatic schemes; (Jenkin et al., Atmos. Chem. Phys.,  12, 5275, 2012), for the ¦Â-caryophyllene scheme and (Jenkin et al., Atmos. Chem. Phys., 15, 11433-11459, 2015), for the isoprene scheme.</p>

</div>
    
  <include file="footer" />