<include file="header" />
	<div id="body">
		<h2>Mechanism subset for marked species</h2>
		<p>
			Each product species is linked to the point in the subset where that species
			reacts.  Select "Goto MCM" next to the first occurance of each reactant to browse
			the MCM from that point.
		</p>
		<table class="subset">
			<tbody>
			<tr class="organic-tr">
				<td></td>
				<td>O</td>
				<td>→</td>
				<td>O3</td>
				<td>5.6D-34*N2*(TEMP/300)@-2.6*O2</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O</td>
				<td>→</td>
				<td>O3</td>
				<td>6.0D-34*O2*(TEMP/300)@-2.6*O2</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O + O3</td>
				<td>→</td>
				<td></td>
				<td>8.0D-12*EXP(-2060/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O + NO</td>
				<td>→</td>
				<td>NO2</td>
				<td>KMT01</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O + NO2</td>
				<td>→</td>
				<td>NO</td>
				<td>5.5D-12*EXP(188/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O + NO2</td>
				<td>→</td>
				<td>NO3</td>
				<td>KMT02</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O1D</td>
				<td>→</td>
				<td>O</td>
				<td>3.2D-11*EXP(67/TEMP)*O2</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O1D</td>
				<td>→</td>
				<td>O</td>
				<td>2.0D-11*EXP(130/TEMP)*N2</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO + O3</td>
				<td>→</td>
				<td>NO2</td>
				<td>1.4D-12*EXP(-1310/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO2 + O3</td>
				<td>→</td>
				<td>NO3</td>
				<td>1.4D-13*EXP(-2470/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO + NO</td>
				<td>→</td>
				<td>NO2 + NO2</td>
				<td>3.3D-39*EXP(530/TEMP)*O2</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO + NO3</td>
				<td>→</td>
				<td>NO2 + NO2</td>
				<td>1.8D-11*EXP(110/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO2 + NO3</td>
				<td>→</td>
				<td>NO + NO2</td>
				<td>4.50D-14*EXP(-1260/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO2 + NO3</td>
				<td>→</td>
				<td>N2O5</td>
				<td>KMT03</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O1D</td>
				<td>→</td>
				<td>OH + OH</td>
				<td>2.14D-10*H2O</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + O3</td>
				<td>→</td>
				<td>HO2</td>
				<td>1.70D-12*EXP(-940/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + H2</td>
				<td>→</td>
				<td>HO2</td>
				<td>7.7D-12*EXP(-2100/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + CO</td>
				<td>→</td>
				<td>HO2</td>
				<td>KMT05</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + H2O2</td>
				<td>→</td>
				<td>HO2</td>
				<td>2.9D-12*EXP(-160/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HO2 + O3</td>
				<td>→</td>
				<td>OH</td>
				<td>2.03D-16*(TEMP/300)@4.57*EXP(693/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + HO2</td>
				<td>→</td>
				<td></td>
				<td>4.8D-11*EXP(250/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HO2 + HO2</td>
				<td>→</td>
				<td>H2O2</td>
				<td>2.20D-13*KMT06*EXP(600/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HO2 + HO2</td>
				<td>→</td>
				<td>H2O2</td>
				<td>1.90D-33*M*KMT06*EXP(980/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + NO</td>
				<td>→</td>
				<td>HONO</td>
				<td>KMT07</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + NO2</td>
				<td>→</td>
				<td>HNO3</td>
				<td>KMT08</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + NO3</td>
				<td>→</td>
				<td>HO2 + NO2</td>
				<td>2.0D-11</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HO2 + NO</td>
				<td>→</td>
				<td>OH + NO2</td>
				<td>3.45D-12*EXP(270/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HO2 + NO2</td>
				<td>→</td>
				<td>HO2NO2</td>
				<td>KMT09</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + HO2NO2</td>
				<td>→</td>
				<td>NO2</td>
				<td>3.2D-13*EXP(690/TEMP)*1.0</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HO2 + NO3</td>
				<td>→</td>
				<td>OH + NO2</td>
				<td>4.0D-12</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + HONO</td>
				<td>→</td>
				<td>NO2</td>
				<td>2.5D-12*EXP(260/TEMP)</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + HNO3</td>
				<td>→</td>
				<td>NO3</td>
				<td>KMT11</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O + SO2</td>
				<td>→</td>
				<td>SO3</td>
				<td>4.0D-32*EXP(-1000/TEMP)*M</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>OH + SO2</td>
				<td>→</td>
				<td>HSO3</td>
				<td>KMT12</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HSO3</td>
				<td>→</td>
				<td>HO2 + SO3</td>
				<td>1.3D-12*EXP(-330/TEMP)*O2</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HNO3</td>
				<td>→</td>
				<td>NA</td>
				<td>6.00D-06</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>N2O5</td>
				<td>→</td>
				<td>NA + NA</td>
				<td>4.00D-04</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>SO3</td>
				<td>→</td>
				<td>SA</td>
				<td>1.20D-15*H2O</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O3</td>
				<td>→</td>
				<td>O1D</td>
				<td>J&lt;1&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>O3</td>
				<td>→</td>
				<td>O</td>
				<td>J&lt;2&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>H2O2</td>
				<td>→</td>
				<td>OH + OH</td>
				<td>J&lt;3&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO2</td>
				<td>→</td>
				<td>NO + O</td>
				<td>J&lt;4&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO3</td>
				<td>→</td>
				<td>NO</td>
				<td>J&lt;5&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>NO3</td>
				<td>→</td>
				<td>NO2 + O</td>
				<td>J&lt;6&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HONO</td>
				<td>→</td>
				<td>OH + NO</td>
				<td>J&lt;7&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HNO3</td>
				<td>→</td>
				<td>OH + NO2</td>
				<td>J&lt;8&gt;</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>N2O5</td>
				<td>→</td>
				<td>NO2 + NO3</td>
				<td>KMT04</td>
			</tr>
			<tr class="organic-tr">
				<td></td>
				<td>HO2NO2</td>
				<td>→</td>
				<td>HO2 + NO2</td>
				<td>KMT10</td>
			</tr>




			<!--<tr>
				<td><a name="CH3OH" href="/browse.htt?species=CH3OH">Goto MCM</a></td>
				<td>CH3OH + OH</td>
				<td>→</td>
				<td>HO2 + <a href="#HCHO">HCHO</a></td>
				<td>2.85D-12*EXP(-345/TEMP)</td>
			</tr>
			<tr>
				<td><a name="HCHO" href="/browse.htt?species=HCHO">Goto MCM</a></td>
				<td>HCHO</td>
				<td>→</td>
				<td>CO + HO2 + HO2</td>
				<td>J&lt;11&gt;</td>
			</tr>
			<tr>
				<td></td>
				<td>HCHO</td>
				<td>→</td>
				<td>H2 + CO</td>
				<td>J&lt;12&gt;</td>
			</tr>
			<tr>
				<td></td>
				<td>NO3 + HCHO</td>
				<td>→</td>
				<td>HNO3 + CO + HO2</td>
				<td>5.5D-16</td>
			</tr>
			<tr>
				<td></td>
				<td>OH + HCHO</td>
				<td>→</td>
				<td>HO2 + CO</td>
				<td>5.4D-12*EXP(135/TEMP)</td>
			</tr>
			</tbody>

			<tfoot>
			<tr>
				<td colspan="5">
					No. of Organic Species = 2, No. of Reactions = 53
				</td>
			</tr>-->

			</tfoot>
		</table>

	</div>

	<input type="hidden" name="inorganic" value="{$inorganic}" />
	<input type="hidden" name="generic" value="{$generic}" />

<style type="text/css">
	.organic-tr{display: none;}
</style>
<script type="text/javascript">
	$(function (){
		var inorganic = $("input[name='inorganic']").val();
		if(inorganic == "yes"){
			$(".organic-tr").show();
		}
		var Extract = (function() {
			return {
				list : function() {
					var url = "{:U('/Home/Main/get_reaction')}";
					var render = function (data){
						if(data){
							var url2 = "{:U('/Home/Index/browse')}";
							var h = '';
							for(var i in data){
								h += '<tr><td>';
								if(data[i].is_sel == 1){
									h += '<a name="'+data[i].r_reactant1+'" href="'+url2+'?species='+data[i].r_reactant1+'">Goto MCM</a>';
								}
								h += '</td><td>';
								h += data[i].r_reactant1;
								if(data[i].r_reactant2){
									h += ' + '+data[i].r_reactant2;
								}
								if(data[i].r_reactant3){
									h += ' + '+data[i].r_reactant3;
								}
								h += '</td><td>→</td><td>'+data[i].r_product1;
										if(data[i].r_product2){
											h += ' + '+data[i].r_product2;
										}
										if(data[i].r_product3){
											h += ' + '+data[i].r_product3;
										}
								h += '</td><td>'+data[i].r_kt+'</td></tr>';
							}
							$(".organic-tr").last().after(h);
						}
					}
					Base.goAjax(url,{},render);
				}
			}
		}());
		Extract.list();
	});
</script>
<include file="footer" />