<include file="header" />
    <div id="body">

      <h2>Feedback</h2>


      <h3>MCM Mailing list</h3>
      <p>
	The best way of staying informed about the MCM is to join the
	<a href="http://lists.leeds.ac.uk/mailman/listinfo/mcm">mailing
	list</a>.  As well as announcements about updates to the
	Mechanism and website, the list can also be used to report
	bugs or discuss using the mechanism with other users.  A
	public archive of mailing list traffic is available from the <a href="http://lists.leeds.ac.uk/mailman/listinfo/mcm">list
	information page</a>.
      </p>

      <h3>Personnel</h3>
      
      <p>
	If you wish to contact us directly follow the links below.
      </p>

      <table>
	<tbody><tr>
	    <td><ul>
		<li>Dr. Andrew Rickard
		  (<a href="mailto:a.rickard@chemistry.leeds.ac.uk">a.rickard@chemistry.leeds.ac.uk</a>).  
		  Principal maintainer.
		</li>
		<li>Dr. Jenny Young
		  (<a href="mailto:J.C.Young@leeds.ac.uk">J.C.Young@leeds.ac.uk</a>). 
		  Website developer.
		</li>
	<!--	<li>Dr. Stephen Pascoe
		  (<a href="mailto:Stephen.Pascoe@rl.ac.uk">Stephen.Pascoe@rl.ac.uk</a>). 
		  Website developer.
		</li>
		<li><a href="http://www.chem.leeds.ac.uk/People/Pilling.html">Prof. Mike Pilling</a>.
		  Project supervisor.
		</li>
		<li>Dr. Claire Boss</li>
	      </ul></td>
	    <td><img src="pics/logos/small_leeds_white.gif"></td>
	  </tr>
      </table>


      <table>
	  <tr>
	    <td>
	      <ul>
		<li><a href="http://www.chem.leeds.ac.uk/People/Saunders/Samhm.htm">
		    Dr. Sam Saunders
		  </a>.
		</li>
	      </ul>
	    </td>
	    <td><img src="pics/logos/UWA1.bmp"></td>
	  </tr>
	  <tr>
	    <td>
	      <ul>
		<li>
		  <a href="http://www.env.ic.ac.uk/">Imperial College</a>.  Dr. Mike Jenkin.
		</li>
	      </ul>
	    </td>
	    <td><img src="pics/logos/ICL3.bmp"><img src="pics/logos/ICL2.bmp"></td>
	  </tr>
	  <tr>
	    <td>
	      <ul>
		<li>
		  University of York.
		  <a href="http://www.york.ac.uk/depts/eeem/resource/carslaw/carslaw.htm">
		    Dr Nicola Carslaw
		  </a>.
		</li>
	      </ul>
	    </td>
	    <td><img src="pics/logos/UY_small.gif"></td>
	  </tr>
	  <tr>
	    <td>
	      <ul>
		<li>
		  <a href="http://www.meto.gov.uk">Met Office</a>.  Prof. Dick Derwent.
		</li>
	      </ul>
	    </td>
	    <td><img src="pics/logos/METO2.bmp"></td> -->
	  </ul></td></tr>
      </tbody></table>
      
    </div>
    
<include file="footer" />