<include file="header" />
    <div id="body">
	<h3>Inorganic Reactions</h3>
	
			<h4>Gas-particle reactions</h4>
			<p>Note: These values have been estimated for a general ambient air scenario and may not be appropriate for modelling other environments.</p>
	    <table class="reactionList" align="center">
			<tbody><tr>
				<td>
					<table class="speciesExpr">
						<tbody><tr>
							
								<td class="species">
  <a>
    
    HNO3
  </a>
  
</td> 
								
							
						</tr>
					</tbody></table>
				</td>
				<td>
					<table class="reactionArrow" cellspacing="0" cellpadding="0">
						<tbody><tr>
							<td>
								<table class="body" cellspacing="0" cellpadding="0">
									<tbody><tr>
										<td class="upper">MCM k: 
											<span class="rate">6.00D-06</span>
										</td>
									</tr>
									<tr>
										<td class="lower">IUPAC k:  
											<span class="iupac_rate">none</span>
										</td>
									</tr>
				
								</tbody></table>
							</td>
							<td class="head"><img src="__PUBLIC__/inorg1_files/arrowhead.gif">
							</td>
						</tr>
					</tbody></table>
				</td>
				<td>
					<table class="speciesExpr">
						<tbody><tr>
							

								
								
									<td class="species">
  <a>
    
    NA
  </a>
  
</td>  
								
								
							
						</tr> 
					</tbody></table>
				</td>
				<td>
					<a href="http://mcm.leeds.ac.uk/MCMv3.3.1/categories/uncategorised.htt?rxnId=36">
					Doc.
					</a>
				</td>
			</tr><tr>
				<td>
					<table class="speciesExpr">
						<tbody><tr>
							
								<td class="species">
  <a>
    
    N2O5
  </a>
  
</td> 
								
							
						</tr>
					</tbody></table>
				</td>
				<td>
					<table class="reactionArrow" cellspacing="0" cellpadding="0">
						<tbody><tr>
							<td>
								<table class="body" cellspacing="0" cellpadding="0">
									<tbody><tr>
										<td class="upper">MCM k: 
											<span class="rate">4.00D-04</span>
										</td>
									</tr>
									<tr>
										<td class="lower">IUPAC k:  
											<span class="iupac_rate">none</span>
										</td>
									</tr>
				
								</tbody></table>
							</td>
							<td class="head"><img src="__PUBLIC__/inorg1_files/arrowhead.gif">
							</td>
						</tr>
					</tbody></table>
				</td>
				<td>
					<table class="speciesExpr">
						<tbody><tr>
							

								
								
									<td class="species">
  <a>
    
    NA
  </a>
  
</td>  
								
								<td class="op">+
								</td>
							

								
								
									<td class="species">
  <a>
    
    NA
  </a>
  
</td>  
								
								
							
						</tr> 
					</tbody></table>
				</td>
				<td>
					<a href="http://mcm.leeds.ac.uk/MCMv3.3.1/categories/uncategorised.htt?rxnId=37">
					Doc.
					</a>
				</td>
			</tr><tr>
				<td>
					<table class="speciesExpr">
						<tbody><tr>
							
								<td class="species">
  <a>
    
    SO3
  </a>
  
</td> 
								
							
						</tr>
					</tbody></table>
				</td>
				<td>
					<table class="reactionArrow" cellspacing="0" cellpadding="0">
						<tbody><tr>
							<td>
								<table class="body" cellspacing="0" cellpadding="0">
									<tbody><tr>
										<td class="upper">MCM k: 
											<span class="rate">1.20D-15*H2O</span>
										</td>
									</tr>
									<tr>
										<td class="lower">IUPAC k:  
											<span class="iupac_rate">none</span>
										</td>
									</tr>
				
								</tbody></table>
							</td>
							<td class="head"><img src="__PUBLIC__/inorg1_files/arrowhead.gif">
							</td>
						</tr>
					</tbody></table>
				</td>
				<td>
					<table class="speciesExpr">
						<tbody><tr>
							

								
								
									<td class="species">
  <a>
    
    SA
  </a>
  
</td>  
								
								
							
						</tr> 
					</tbody></table>
				</td>
				<td>
					<a href="http://mcm.leeds.ac.uk/MCMv3.3.1/categories/uncategorised.htt?rxnId=38">
					Doc.
					</a>
				</td>
			</tr>
			</tbody></table>
			
	</div>

<include file="footer" />