<include file="header" />
    <div id="body">


<h2>Related work</h2>

<p>Information on some other projects related to atmospheric chemistry, carried 
  out in Leeds can be found here :- </p>

<ul>
  <li><a href="http://www.chem.leeds.ac.uk/research/groups/atmospheric-and-planetary-chemistry.html"><font size="4">Atmospheric 
    chemistry at Leeds</font></a>
	</li>
 <!-- <li><font size="4"><a HREF="http://www.chem.leeds.ac.uk:80/Atmospheric/Field/field.html"> 
    Atmospheric chemistry field studies</a></font><br>
  </li>-->
</ul>



<p>&nbsp; 
</p><ul>
  <li><a href="http://www.naei.org.uk/"><font size="4">UK National Atmospheric Emissions Inventory</font></a></li>
  <li><a href="http://www.airquality.co.uk/"><font size="4">UK National Air Quality Information Archive</font></a></li>
  <!--<li><a href="http://www.gsf.de/eurotrac"><font size="4">EUROTRAC</font></a></li>
  <li><font size="4"><a href="http://www.chem.leeds.ac.uk/EXACT/">EXACT 
    project</a> </font></li>-->
  <li><font size="4"><a href="http://iupac.pole-ether.fr/">IUPAC kinetics 
    database</a></font></li>
  <li><font size="4"><a href="http://jpldataeval.jpl.nasa.gov/">JPL evaluated 
    data</a> </font></li>
  <li><font size="4"><a href="http://www.meto.gov.uk/">The UK MET office</a> </font></li>
  <li><font size="4">The UK department for environment, food and rural affairs 
    <a href="http://www.defra.gov.uk/">(DEFRA)</a> </font></li>
  <li><font size="4">Co-operative Programme for Monitoring and Evaluation of the 
    Long-Range Transmission of Air Pollutants in Europe <a href="http://www.emep.int/">(EMEP)</a> 
    </font></li>
  <li><font size="4"><a href="http://www.egu.eu/">The European Geophysical 
    Union</a> </font></li>
  <li><font size="4"><a href="http://www.epa.gov/">US Environmental Protection 
    Agency</a> (EPA</font>) </li>
<!--  <li><font size="4">Atmospheric chemistry at the Bergische <a href="http://www.physchem.uni-wuppertal.de/">Universität 
    Wuppertal Germany</a> </font></li>-->
  <!--<li><font size="4"><a href="http://airsite.unc.edu/">Airsite</a> at the University 
    of North Carolina</font></li>-->
  <li><font size="4">Centre for Atmospheric chemistry, <a href="http://www.cac.yorku.ca/">York 
    University, Toronto</a>, Canada </font></li>
  <li><font size="4">Division of Atmospheric research at <a href="http://www.dar.csiro.au/">CSIRO 
    Australia</a> </font></li>
  <li><font size="4">The Royal Society of Chemistry</font>, <a href="http://www.rsc.org/Membership/Networking/InterestGroups/Environmental/index.asp?e=1"><font size="4">environmental 
    chemistry group </font></a></li>
  <li><font size="4"><a href="http://seawifs.gsfc.nasa.gov/SEAWIFS.html">NASA 
    SeaWiFS project</a></font> </li>
  <li><font size="4">NASA <a href="https://earthdata.nasa.gov/discipline/atmosphere">atmospheric 
    chemistry data and resources </a></font></li>
  <li><font size="4"><a href="http://visibleearth.nasa.gov/">NASA visible Earth</a> 
    </font></li>
  <li><font size="4">NOAA Hybrid Single-Particle Lagrangian Integrated Trajectory 
    (<a href="http://www.arl.noaa.gov/ready/hysplit4.html">HYSPLIT</a>) Model</font> 
  </li>
  <li><font size="4">Tropospheric Ultraviolet &amp; Visible Radiation Model (<a href="https://www2.acom.ucar.edu/modeling/tropospheric-ultraviolet-and-visible-tuv-radiation-model">TUV</a>) 
    </font></li>
  <li><font size="4">Stratospheric Processes and Their Role in Climate (<a href="http://www.sparc.sunysb.edu/default.htm">SPARC</a>) 
    data centre </font></li>
  <li><font size="4">ELSEVIER <a href="http://www.sciencedirect.com/science/journal/13522310">atmospheric 
    online</a> </font></li>
</ul>



<hr>


    </div>
    <include file="footer" />