<include file="header" />
<div id="body">
    <include file="searchResults" />
    <h3>Search</h3>
    <table>
      	<tbody>
	      	<tr>
				<td valign="top">
				  <div>
				      <p>
				      	<a href="#">Draw Structure</a>
				      </p>
				      Enter Search Term<br>
				      <input type="text" class="search_val" id="search_val" value="{$content}" >
				      <input type="button" class="search_item" value="search" tag="btn"><br>
				  </div>
				 <!--  <p><a href="http://mcm.leeds.ac.uk/MCMv3.3.1/mass_search.html">Molecular weight search</a></p>
				  <p><a href="http://mcm.leeds.ac.uk/MCMv3.3.1/advanced_search.html">Advanced Search</a></p>-->
				</td>
				<!--  <td class="searchComment">
				  <p>Search by MCM name, <a href="http://www.daylight.com/dayhtml/smiles/">SMILES</a> string, <a href="http://www.daylight.com/dayhtml/doc/theory/theory.smarts.htmlSMARTS"></a> pattern, <a href="http://www.iupac.org/inchi/">InChI</a> or draw your strucutre, click the link to start the applet (Java required). The search function returns both full and partial matches.</p>
				</td> -->
	      	</tr>
	    </tbody>
	</table>
	<style style="text/css">
		.searchResults,#searchResults{display:none;}
		DIV#searchResults ul li{display:list-item;}
	</style>
    
   	<script type="text/javascript">
    	//ËÑË÷¿ò
		$(function (){
			var mainPanel = $('body');
			var search = function() {};
			search.prototype = {
				init: function() {
					this.eventProxy();
				},
				eventProxy: function() {
					var self = this;
					mainPanel.on('click','.search_item,.pageSearch',function(e) {
						e.stopPropagation();
						self.list($(this));
					});
					var q = $("#search_val").val();
					if(q){ 
						self.list($(this));
					}
				},
				list: function(self) {
					var url = "{:U('/Home/Main/search_result')}";
					var q = $("#search_val").val();
					var pageSize = 10;
					var render = function (d){
						$("#result_q").html(q);
						$("#total").html(d.total);
						if(d.total > 0){
							var data = d.data;
							var total = d.total;
							var current_page = d.current_page;
							var h = list = '';
							if(total >= 2){
								var length = Math.ceil(total/pageSize);
								for(var i=1;i<=length;i++){
									var page = i;
									if(current_page == page){
										h += '<span>&nbsp;'+page+'&nbsp;</span>';
									}else{
										h += '<span>&nbsp;<a href="javascript:void(0);" class="pageSearch" p_tag="'+i+'">'+page+'</a>&nbsp;</span>';
									}
								};
							}

							h += '<ul>';
							for(var i=0;i<data.length;i++){
								if(data[i].is_sel == 1){
									var m = 'Unmark';
								}else{
									var m = 'Mark';
								}
								h += '<li>\
											<table>\
												<tbody>\
														<tr>\
															<td class="species">\
															<a href="browse.html?species='+data[i].c_chemicals+'">\
																<img src="__PUBLIC__/images/'+data[i].c_chemicals+'.png" style="width:120px;height:50px;"><br>\
																<span>'+data[i].c_chemicals+'</span>\
															</a>\
															<form action="" method="post">\
																<input value="'+data[i].c_chemicals+'" type="hidden" name="marks" checked="checked">\
																<input type="button" value="'+m+'" class="addMarks searchBtn" tag="'+data[i].c_chemicals+'">\
															</form>\
															</td>\
														</tr>\
												</tbody>\
											</table>\
										</li>';
								list += '<li>'+data[i].c_chemicals+'</li>';	
							}
							h += '</ul>';
							$("#result_content").html(h);
							$("#searchResults div ul").html(list);
						}else{
							$("#result_content").html('No result!');
						}
					}
					$("#result_content").html('Searching...');
					$(".searchResults").show();
// 					$("#result_content").hide();
					
					if(q){
						var page = self.attr('p_tag');
						if(!page){
							page = 1;
						}
						var sendData = {'q':q,'page':page,'pageSize':pageSize};
						Base.goAjax(url,sendData,render);
					}
				}
			}
			new search().init();
		});
		
	</script>
<include file="footer" />